{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
  <div class="container">
    <div class="row">

      <div class="col-md-12 align-self-center p-static order-2 text-center">

        <h1 class="text-dark font-weight-bold text-8">{{ page.title }}</h1>

      </div>

      <div class="col-md-12 align-self-center order-1">

<ul class="breadcrumb d-block text-center">
  <li><a href="/">Strona główna</a></li>
  
{% for crumb in crumbs offset: 1 %}
{% if forloop.last %}
 <li>{{ page.title }}</li>
{% else %}
 <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a></li>
{% endif %}
{% endfor %}
</ul>
      </div>
    </div>
  </div>
</section>