<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
  <div class="header-body border-top-0">
    <div class="header-container header-container-height-lg container">
      <div class="header-row">
        <div class="header-column justify-content-start d-lg-none">
          <div class="header-row mt-2">
            <div class="header-logo">
              <a href="/">
                <img alt="Logo {{ site.title }}" width="200" height="57" data-sticky-width="150" data-sticky-height="43" data-sticky-top="0" src="{{ site.logo }}">
              </a>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-center align-items-end">
          <div class="header-nav justify-content-lg-center p-0">
            <div class="header-nav header-nav-links">

              <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-arrow header-nav-main-dropdown-center header-nav-main-dropdown-center-bottom header-nav-main-effect-3 header-nav-main-sub-effect-1">
                <nav class="collapse">
                {%- include navigation.html  navigation=site.data.navigation -%}
                </nav>
              </div>

              <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                <i class="fas fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-end d-none d-lg-flex"></div>
      </div>
    </div>					
  </div>
</header>
