<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.appear.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.easing.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/common.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/owl.carousel.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/theme.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/theme.init.min.js" | relative_url }}"></script>