<section class="section section-primary section-no-border my-0">
  <div class="container mb-5 pb-5">
    <div class="row justify-content-center">
      <div class="col">
        <div class="row pt-4">
          <div class="col-md-9 order-2 order-md-1 appear-animation" data-appear-animation="fadeInRightShorter">
            <div class="row text-center text-md-left mb-5 pb-5">
              <div class="col-lg-7">
                <h2 class="text-7 font-weight-bold mb-2">Program wsparcia Salon Dłużnika</h2>
              </div>
              <div class="col-lg-10">
                <p class="text-3 line-height-9 opacity-7">Program wsparcia zadłużonych <em>Salon Dłużnika</em> przeznaczony jest dla osób które z jakiegoś powodu znalazły się w sytuacji, gdy nadmierne długi nie pozwalają na normalne życie rodzinne, społeczne czy zawodowe. </p>
                <a href="javascript:void(0)" class="d-inline-flex align-items-center btn btn-dark text-color-light font-weight-bold px-4 btn-py-2 text-2 rounded">ZAPOZNAJ SIĘ ZE SZCZEGÓŁAMI <i class="fa fa-arrow-right ml-2 pl-1 text-3"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center order-1 order-md-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
            <p class="text-1 mb-2 opacity-7">ZACHOWANIA DŁUŻNIKÓW</p>
            <div class="owl-carousel owl-theme nav-style-3 nav-light dots-light text-color-light" data-plugin-options="{'items': 1, 'margin': 100, 'loop': true, 'nav': true, 'dots': true, 'stagePadding': 60, 'autoHeight': true}">
              <div class="text-center pt-3">
                <strong class="font-weight-extra-bold text-13 text-lg-14">37<sup class="sup-text-small pl-1">%</sup></strong>
                <label class="font-weight-normal text-3 px-lg-4">Zagubienie, bierność</label>
              </div>
              <div class="text-center pt-3">
                <strong class="font-weight-extra-bold text-13 text-lg-14">24<sup class="sup-text-small pl-1">%</sup></strong>
                <label class="font-weight-normal text-3 px-lg-4">Wzmożona agresja, roszczeniowość</label>
              </div>
              <div class="text-center pt-3">
                <strong class="font-weight-extra-bold text-13 text-lg-14" >9<sup class="sup-text-small pl-1">%</sup></strong>
                <label class="font-weight-normal text-3 px-lg-4">Ucieczka, ignorowanie problemu</label>
              </div>
              <div class="text-center pt-3">
                <strong class="font-weight-extra-bold text-13 text-lg-14" >1<sup class="sup-text-small pl-1">%</sup></strong>
                <label class="font-weight-normal text-3 px-lg-4">Racjonalne poszukiwanie rozwiązania</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

