<section class="section section-no-border section- section-height-3 bg-color-grey-scale-3 text-center mt-0">
<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <div class="call-to-action-content">
        <h2 class="font-weight-normal text-6 mb-0">Straciłeś kontrolę nad<strong class="font-weight-extra-bold"> swoimi finansami?</strong> Możemy Ci pomóc! </h2>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="call-to-action-btn">
        <a class="btn btn-badge btn-primary font-weight-bold px-4 mt-4 mt-md-2 mb-2" href="/kontakt/">NAPISZ DO NAS</a>
      </div>
    </div>
  </div>
</div>
</section>