<div class="container">
  <div class="row" style="margin-top: -165px">
    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
      
      <div class="card text-center rounded-0">
        <div class="flip-front p-5">
          <div class="flip-content my-4">
            <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">01</strong>
            <h4 class="font-weight-bold text-color-primary text-4">EDUKACJA FINANSOWA</h4>
            <p>Edukacja ekonomiczna jest kluczowa dla budowania świadomości, nabywania umiejętności oraz kształtowania postaw w zakresie bezpieczeństwa ekonomicznego.</p>	
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
      
      <div class="card text-center rounded-0">
        <div class="flip-front p-5">
          <div class="flip-content my-4">
            <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">02</strong>
            <h4 class="font-weight-bold text-color-primary text-4">DORADZTWO PRAWNE</h4>
            <p>Podnoszenie świadomości prawnej i odpowiedzialnej postawy. Porady prawne. Wsparcie i doradztwo windykacyjne, pomoc z zakresu zarządzania budżetem domowym.</p>	
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
      
      <div class="card text-center rounded-0">
        <div class="flip-front p-5">
          <div class="flip-content my-4">
            <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">03</strong>
            <h4 class="font-weight-bold text-color-primary text-4">WSPARCIE ZADŁUŻONYCH</h4>
            <p>Poszukujemy  optymalnych  sposobów poradzenia sobie i wsparcia w często skrajnie trudnej sytuacji kryzysu, który zaczyna się od problemów finansowych.</p>	
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center text-md-left align-items-center mt-4 appear-animation mt-5" data-appear-animation="fadeInRightShorter">
    <div class="col-md-7 col-lg-7">
      <div class="row">
        <div class="col-lg-9">
          <h2 class="font-weight-bold text-7 mb-3">NADMIERNE ZADŁUŻANIE SIĘ</h2>
          <p class="text-4">Nie jesteś w stanie dokonywać spłaty swoich zobowiązań w wyznaczonych terminach? Wpadłeś w spiralę zadłużenia?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <p class="text-2 pr-lg-2">Skutki mogą być bardzo poważne. Jak pokazują badania zobowiązania których nie jesteśmy w stanie na bieżąco płacić mają wpływ na wszystkie aspekty naszego życia.</p>
          <a href="javascript:void(0)" class="d-inline-flex align-items-center btn btn-dark text-color-light font-weight-bold px-4 btn-py-2 text-2 rounded mt-2 mb-5">JAK SOBIE Z TYM RADZIĆ <i class="fa fa-arrow-right ml-2 pl-1 text-3"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-4 px-5 px-md-3">
      <img class="img-fluid" src="{{ site.baseurl }}/assets/images/backgrounds/salon-dluznika-wplyw-dlugow-na-zycie.jpg" alt="Wpływ nadmiernych długów." />
    </div>
  </div>
</div>
