<div class="container">

  <div class="row pt-4">
    <div class="col-lg-8 pb-2">

      <div class="process process-vertical pt-4">
        <div class="process-step appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
          <div class="process-step-circle">
            <strong class="process-step-circle-content">1</strong>
          </div>
          <div class="process-step-content">
            <h4 class="mb-1 text-4 font-weight-bold">Nie oferujemy dłużnikom gotowych rozwiązań</h4>
            <p class="mb-0">Nie udzielamy pożyczek, nie oddłużamy, nie prowadzimy działań antywindykacyjnych. </p>
          </div>
        </div>
        <div class="process-step appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
          <div class="process-step-circle">
            <strong class="process-step-circle-content">2</strong>
          </div>
          <div class="process-step-content">
            <h4 class="mb-1 text-4 font-weight-bold">Wspieramy osoby zadłużone oferując możliwości</h4>
            <p class="mb-0">Prowadzimy edukację finansowo-prawną oraz porady i doradztwo z zakresu zadłużenia.</p>
          </div>
        </div>
        <div class="process-step appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
          <div class="process-step-circle">
            <strong class="process-step-circle-content">3</strong>
          </div>
          <div class="process-step-content">
            <h4 class="mb-1 text-4 font-weight-bold">Realizujemy Program Wsparcia Zadłużonych</h4>
            <p class="mb-0">Konsultacje prowadzone przez psychologów, prawników, doradców finansowych, doradców z zakresu windykacji.</p>
          </div>
        </div>
        <div class="process-step pb-4 mb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
          <div class="process-step-circle">
            <strong class="process-step-circle-content">4</strong>
          </div>
          <div class="process-step-content">
            <h4 class="mb-1 text-4 font-weight-bold">Oferujemy pomoc psychologiczną</h4>
            <p class="mb-0">W uzasadnionych przypadkach zapewniamy profesjonalną opiekę psychologa.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 px-5 pt-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
      <div class="testimonial testimonial-style-7 testimonial-primary py-5 mt-4">
        <blockquote>
          <p class="text-8 line-height-9 mb-0 mt-4">Długi nie umierają nigdy – dłużnicy dość często.</p>
        </blockquote>
      </div>
    </div>

  </div>

</div>